.home {
	.section-title{

	}
}


.hero{
	background: #000;
	height: 90vh;
	overflow: hidden;
	position: relative;

	.hero-bg{
		background: no-repeat center;
		background-size: cover;
		opacity: 0.3;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	.hero-slider{
		opacity: 0.3;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		.slick-list,
		.slick-track,
		.slick-slide,
		.slick-slide > div,
		.slide{
			height: 100%;
		}
		.img{
			background: no-repeat center;
			background-size: cover;
			height: 100%;
			width: 100%;
		}

		img{
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

	}

	// .hero-video-container{
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	height: 100vh;
	// 	width: 100%;
	// 	z-index: 2;
	// }

	.hero-video{
		background-size: cover;
		opacity: 0.3;
		position: absolute;
		overflow: hidden;
		z-index: 1;

		/* if not 100vh ****************************************************************/
		// width: 100%;
		// height: 56.25vw;
		// top: 50%;
		// left: 0;
		// transform: translateY(-50%);
		
		// // max-width: calc( [hero height]  * 1.778 )
		// @media (max-width: calc(pxem(590) * 1.778)) {
		// 	height: 100%;
		// 	width: 177.78vh;
		// 	top: 0;
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// }
		/*******************************************************************************/

		@media (min-height : 56.25vw) { /* video h/w raio / hero height (i.e. 56.25 / 0.9 = 62.5vw) */
			height: 100%;
			width: 177.78vh;  /* ((w / h) * 100) * hero height  (like  177.78vh * 0.9 ) */
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		@media (max-height : 56.25vw) { /* video h/w raio / hero height (i.e. 56.25 / 0.9 = 62.5vw) */
			height: 56.25vw; // ( h / w )
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

		iframe,
		video{
			display: block;
			// filter: blur(0.4rem);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		} 
	}
}

.hero-content{
	color: #fff;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
	transform: translateY(-50%);
	z-index: 10;

	.hero-title{
		color: $brand-blue-lt;
		font-size: pxem(72);
		font-weight: 700;
		margin: 0 0 0.3em 0;

		i{
			font-family: $font-family-callout;
			font-weight: 500;
		}
	}
	.hero-description{
		font-size: pxem(19);
		font-weight: 700;
		margin: 0 auto;
		max-width: 42em;
	}
	.buttons{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: pxem(40);
		justify-content: center;
		margin: 2em 0 0 0;

		.button{
			// margin: 0 0.87em;
		}
	}
}

.mfp-iframe-holder{
	.mfp-content{
		max-width: 90%;
	}
}

// .hero-popup{
// 	.mfp-content{
// 		height: 80%;
// 		width: 90%;
// 		position: relative;

// 		.video-outer-wrap{
// 			aspect-ratio: 16 / 9;
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			bottom: 0;
// 			left: 0;
// 			margin: auto;
// 			max-height: 100%;
// 			max-width: 100%;
// 		}

// 		.video-container{
// 			display: block;
// 			padding-bottom: 56.25%;
// 			position: relative;
// 			width: 100%;

// 			video,
// 			iframe{
// 				display: block;
// 				position: absolute;
// 				top: 0;
// 				right: 0;
// 				bottom: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 			}
// 		}

// 		.mfp-close{
// 			color: #fff;
// 			top: -40px;
// 			right: -10px;
// 		}
// 	}
// }

#hero-video-modal-container{
	display: none;

	.mfp-wrap &{
		display: block;
	}
}

.home-section{

	.section-label{
		font-size: pxem(23);
		font-weight: 300;
		margin: 0 0 0.4em 0;
	}
	.section-title{
		font-size: pxem(44);
		font-weight: 700;
		margin: 0 0 0.4em 0;

		i{
			font-family: $font-family-callout;
			font-weight: 600;
		}
	}

	.wysiwyg{
		margin-right: auto;
		margin-left: auto;
		max-width: pxem(820);
	}
}

.home-intro{
	background: $brand-orange;
	color: #fff;
	padding: pxem(70) 0 0 0;

	.container{
		display: flex;
		align-items: end;
		gap: 5%;
	}

	.content{
		flex: 1;
		padding: 0 0 pxem(70) 0;
		max-width: pxem(450);
	}

	.section-title{
		margin-bottom: 0.2em;
	}
	.section-subtitle{
		font-family: $font-family-callout;
		font-size: pxem(44);
		font-style: italic;
		font-weight: 500;
	}

	.image{
		width: 57%;

		img{
			display: block;
			width: 100%;
		}
	}
}

.home-before-after{
	background: linear-gradient(180deg, $brand-blue-xlt 1.63%, $brand-blue 43.42%);
	color: #fff;
	padding: pxem(60) 0;
	text-align: center;

	// .wysiwyg{
	// 	margin: 0 auto;
	// 	max-width: pxem(820);
	// }

	.image{
		margin: pxem(40) auto 0 auto;
		max-width: pxem(820);

		img{
			display: block;
			width: 100%;
		}
	}
}

.home-benefits{
	color: $brand-blue;
	text-align: center;

	.bg-1{
		background: rgba($brand-blue-xlt, 0.32);
		padding: pxem(40) 0 pxem(40) 0;
	}
	.bg-2{
		background: rgba($brand-blue-xlt, 0.4);
		padding: pxem(50) 0 pxem(80) 0;
	}

	.wysiwyg{
		// margin: 0 auto pxem(50) auto;
		// max-width: pxem(820);
		margin-bottom: pxem(50);
	}

	.list-container{
		border: 1px solid $brand-blue;
		border-top: 0;
		padding: pxem(45) 5% pxem(30) 5%;
		position: relative;

		.list-title{
			display: flex;
			align-items: center;
			gap: 1em;
			justify-content: space-between;
			font-size: pxem(26);
			font-weight: 900;
			letter-spacing: 0.07em;
			text-transform: uppercase;
			position: absolute;
			top: 0;
			right: -1px;
			left: -1px;
			transform: translateY(-50%);

			&:before,
			&:after{
				content: '';
				flex: 1;
				display: block;
				border-bottom: 1px solid $brand-blue;
			}
			span{
				// white-space: nowrap;
			}
		}

		ul{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-row-gap: pxem(35);
			grid-column-gap: 5%;
			list-style: none;
			margin: 0;
			padding: 0;

			li{

			}

			.title{
				font-family: $font-family-callout;
				font-size: pxem(25);
				font-style: italic;
				font-weight: 600;
			}

			.description{

			}
		}
	}
}

.home-customization{
	padding: pxem(55) 0;
	text-align: center;

	.wysiwyg{
		margin-bottom: pxem(30);
	}

	.list-container{
		color: $brand-blue;

		svg{
			display: block;
			margin: 0 auto pxem(15) auto;
		}

		.list-title{
			font-size: pxem(26);
			font-weight: 900;
			letter-spacing: 0.07em;
			text-transform: uppercase;
		}
	}

	.customization-list{
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			border-top: 1px solid $brand-orange;
			padding: pxem(25);

			&:nth-child(1),
			&:nth-child(2){
				border-top: 0;
			}

			&:nth-child(2n){
				border-left: 1px solid $brand-orange;
			}
		}

		.title{
			font-family: $font-family-callout;
			font-size: pxem(25);
			font-style: italic;
			font-weight: 600;
		}
		.description{

		}
	}

	.note{
		background: $brand-blue;
		border-radius: pxem(8);
		color: #fff;
		max-width: pxem(635);
		margin: pxem(27) auto 0 auto;
		padding: 1em 2em;

		p{
			font-size: pxem(20);
			font-style: italic;
			font-weight: 700;
			line-height: 1.3;
			margin: 0;
		}
	}

	.buttons{
		display: flex;
		flex-wrap: wrap;
		gap: pxem(23);
		justify-content: center;
		margin: pxem(30) 0 0 0;
	}
}

.home-gallery{
	background: $brand-bluegreen-lt;
	padding: pxem(55) 0 pxem(75) 0;
	text-align: center;

	.gallery{
		margin-top: pxem(30);
	}

	.gallery-main{
		width: 100%;

		a{
			cursor: zoom-in;
		}

		img{
			aspect-ratio: 2.3;
			display: block;
			object-fit: contain;
			width: 100%;
		}
	}

	.gallery-thumbs{
		// display: grid;
		// grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		display: flex;
		gap: pxem(22);
		list-style: none;
		margin: pxem(22) 0 0 0;
		padding: 0;

		li{
			flex: 1;
			transition: opacity 0.3s;

			&.vis{
				opacity: 0.3;
			}
		}

		img{
			aspect-ratio: 1.9;
			display: block;
			object-fit: cover;
			width: 100%;
		}
	}
}
.home-uses{
	background: rgba($brand-yellow, 0.16);
	padding: pxem(50) 0 pxem(100) 0;
	text-align: center;

	.uses-list{
		color: $brand-blue;
		display: flex;
		gap: pxem(35);
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			flex: 1;
		}

		.image{
			aspect-ratio: 1;
			background: $brand-grey;
			margin-bottom: pxem(15);
			width: 100%;

			img{
				aspect-ratio: 1;
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		.title{
			font-family: $font-family-callout;
			font-size: pxem(25);
			font-style: italic;
			font-weight: 600;
		}

		.description{
			font-size: pxem(16);
		}
	}

	.quote{
		background: linear-gradient(88deg, $brand-blue 0%, $brand-blue-xlt 50%, $brand-blue-lt 100%);
		border-radius: pxem(8);
		color: #fff;
		display: inline-block;
		margin: pxem(35) 0 0 0;
		padding: pxem(30) 5%;

		p{
			font-size: pxem(32);
			font-style: italic;
			font-weight: 700;
			margin: 0;
		}
	}

	.buttons{
		margin: pxem(35) 0 0 0;
	}
}

.home-testimonials{
	background: $brand-orange;
	color: #fff;
	padding: pxem(70) 0;
	text-align: center;

	.testimonial{
		background: rgba(#fff, 0.28);
		border-radius: pxem(13);
		display: inline-block;
		padding: pxem(25) pxem(35);

		.quote{
			font-size: pxem(32);
			font-weight: 700;
			margin: 0;
		}
		.cite{
			display: block;
			font-size: pxem(18);
			font-style: italic;
			// font-weight: 400;
			margin-top: 0.5em;
		}
	}
}

.home-faq{
	background: $brand-grey;
	color: #fff;
	padding: pxem(70) 0 pxem(80) 0;

	.content{
		text-align: center;
	}

	.faq-list{
		margin-top: pxem(30);
	}
}

.home-contact{
	padding: pxem(55) 0;

	.content{
		text-align: center;
	}

	.wysiwyg{
		// margin: 0;
		max-width: pxem(915);
	}
}
