.msw-page-banner {
	background: linear-gradient(170deg, $brand-blue-xlt, $brand-blue);
	// background-position: center top;
	// background-size: cover;
	height: pxem(200);
	position: relative;

	// @media (max-width: $phablet) {
	// 	height: 40vw;
	// }

	.curve{
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
}