.msw-page-banner {
	background: linear-gradient(170deg, $brand-blue-xlt, $brand-blue);
	// background-position: center top;
	// background-size: cover;
	height: pxem(220);
	position: relative;

	@media (max-width: $phablet) {
		height: pxem(140);
	}

	.curve{
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
	}
}